<!-- {{ forms|length }} forms found -->

{% include 'base.html' %}


    <div class="card mb-4">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Submission Completed!</h3>
        </div>
        <div class="card-body">
            <a class="btn btn-success mb-3" >Save your QR CODE!</a>
            <a class="btn btn-warning mb-3 mx-5" href="/">Back</a>
            <div class="list-group">
               
                <div class="list-group-item">
                    <div class="d-flex flex-column justify-content-between">
                        <!-- Image Section -->
                        <div class="text-center my-3">
                            <img src="/qr/qr-codes/{{ submissions.qr_code.uuid }}.png"" alt="Form Image" class="img-fluid w-30">
                        </div>
<!--                 
                      
                        <!-- Buttons at the Bottom -->
                        <div class="text-center mt-3">
                            <a href="" class="btn btn-primary btn-sm me-2">View Submissions</a>
                            <a href="" class="btn btn-link btn-sm">Share Link</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>